.admin-link {
    margin-left: 25px;
    color: #d2322d;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}

table tbody tr {
    td .link-delete-account ,td .link-delete-snippet{
        .admin-link;
    }
    td .link-view-account ,td .link-view-snippet {
        .admin-link;
        color: #2E7EB3;
    }
}

#modal-account-detail .div-content {
    padding-top: 6px;
}