.nav-margin {
    margin-top: 70px;
}

#modal-login {
    .modal-body {
        padding:35px 20px 50px;
    }
}

#modal-sign-up {
    .modal-body {
        padding:35px 20px 50px;
    }
}

.btn-right {
    margin-left: 10%;
}

.error {
    color: red;
}