.nav-margin {
    margin-top: 70px;
}

#modal-login {
    .modal-body {
        padding:35px 20px 50px;
    }
}

#modal-sign-up {
    .modal-body {
        padding:35px 20px 50px;
    }
}

.btn-right {
    margin-left: 10%;
}

.error {
    color: red;
}

.alert {
    text-align: center;
}

.success {
    color: green;
}

pre code {
    background-color: #f5f5f5;
}

// .btn-edit{
//     color: #A7A7A7;
//     &:hover {
//         color: #555555;
//     }
// }

#form-inline-navbar {
    margin-top: 12px;
    .input-group {
        width: 1px;
        .form-control {
            height: 28px;
        }
        #input-search-navbar {
            width: 156px;
            background-color: rgba(235, 235, 235, 0.5);
            &:focus {
                width: 256px;
                background-color: white;
                border-color: #5cb85c;
            }
        }
        .input-group-btn {
            #btn-search-navbar {
                background-color: rgba(92, 184, 92, 0.5);
                border-color: rgba(76, 174, 76, 0);
                padding: 3px 5px 3px 5px;
                height: 28px;
            }
            .btn-search-navbar-focus {
                background-color: rgba(92, 184, 92, 1) ! important;
                border-color: rgba(76, 174, 76, 1) ! important;
            }
        }
    }
}