// .filter {
//     margin-bottom: 10px;
// }

table tr th {
    font-size: 16px;
    &.sortUp {
        background: #F0F0F0 url(/static/images/asc.gif) no-repeat right center;
    }
    &.sortDown {
        background: #F0F0F0 url(/static/images/desc.gif) no-repeat right center;
    }
}

table tbody tr {
    &.odd{
        background-color: #F0F0F0;
    }
    &:hover{
        background-color: #CCCCCC;
    }
    td .link-view-snippet {
        margin-left: 25px;
        color: #2E7EB3;
        cursor: pointer;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
}