table tbody tr {
    td .link-view-snippet {
        margin-left: 25px;
        color: #2E7EB3;
        cursor: pointer;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
}

@media (min-width: 1200px){
    .filter {          
        margin-bottom: 10px;     
    }
}