#btn-follow {
    padding: 0px 3px;
}

.form-horizontal .form-group .div-content {
    text-align: left;
    padding-top: 6px;
}

.favorite {
    color: rgb(250, 170, 0);
}

.unsubscribe {
    color: #CACACA;
}

#link-delete-snippet {
    color: #d2322d;
    opacity: 0.8;
    &:hover {
        color: #d2322d;
        opacity: 1;
    }
}

