extends layout

block title
    | #{t("index.title")}

append head
    - if (nodeEnv == "production") {
        link(rel='stylesheet', href='/static/css/index.min.css')
    - }
    - else {
        link(rel='stylesheet', href='/static/css/index.css')
        link(rel='stylesheet', href='/assets/vendor/highlight/css/tomorrow.css')
    - }

block main
    div.container.nav-margin
        div.row
            div.col-lg-6
                pre
                    //- code(style="overflow-x:scroll;white-space:pre")
                    code
                        | #{codeSnippet.snippet}
            div.col-lg-6
                pre
                    code
                        | #{codeSnippet.snippet}

block scripts
    - if (nodeEnv == "production") {
        script(type='text/javascript', src='/static/js/index.min.js')
    - }
    - else {
        script(type='text/javascript', src='/assets/js/index.js')
        script(type='text/javascript', src='/assets/vendor/highlight/js/highlight.pack.js')
    - }
