extends layout

block title
    | insert
append head

block main
    div.container.nav-margin
        form(method="POST", action="/snippets/new")
            input#input-csrf(type='hidden',name='_csrf',value='#{token}')
            input(name="title")
            textarea(name="snippet",style="width:50%",rows="20")
            button(type="submit")
                | submit