<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div class="container" style="background-color: #eee; width:600px; padding-top: 20px; padding-bottom: 20px; margin-top: 30px;">
            <div class="caption"><h1><strong>Code Snippets</strong></h1></div>
            <div>Dear <%= name %> ,</div>
            <div>
                <dl>
                    <p class="text-success">
                        <strong>We are sorry to inform you that your snippet was deleted by module administrator! Details:</strong>
                    </p>
                    <div class="alert alert-success" padding-left="20px"><li>Snippet Title: <%= snippetTitle %></div>
                    <div class="alert alert-success" padding-left="20px"><li>Created At: <%= createdAt %></div>
                    <div class="alert alert-success" padding-left="20px"><li>Delete Reason: <%= reason %></div>
                </dl>
            </div>
            <div>
                <p>Thank you for your support!</p>
                
                <br>Tel: (86)021-12345678
                <br>Email: support@codesnippets.com
                <!-- <br>Sincerely <a href="http://www.codesnippets.com/" target="_blank">code snippets</a> -->
                <br>Code Snippets
            </div>
        </div>
    </body>
</html>