<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div class="container" style="background-color: #eee; width:600px; padding-top: 20px; padding-bottom: 20px; margin-top: 30px;">
            <div class="caption"><h1><strong>代码社区</strong></h1>
            亲爱的 <%= name %> ,    
            </div>
            <div>
                <dl>
                    <dt>
                        <p class="text-success">
                            <strong>非常抱歉通知您，管理员删除了您的代码，具体信息如下：</strong>
                        </p>
                    </dt>
                    <dd>
                        <div class="alert alert-success" padding-left="20px"><li>代码片段名: <%= snippetTitle %></div>
                        <div class="alert alert-success" padding-left="20px"><li>创建时间: <%= createdAt %></div>
                        <div class="alert alert-success" padding-left="20px"><li>删除原因: <%= reason %></div>
                    </dd>
                </dl>
            </div>
            <div>
                <p>感谢您对我们的支持，谢谢！</p>
                
                <br>联系电话: (86)021-12345678
                <br>邮箱: support@codesnippets.com
                <!-- <br>Sincerely <a href="http://www.codesnippets.com/" target="_blank">code snippets</a> -->
                <br>代码社区
            </div>
        </div>
    </body>
</html>